<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatur Umrechner</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
  </head>
  <header>
    <h1>Temperatur Umrechner</h1>
  </header>
  <body>
    <div id="events">
      <section class="container"> 
        <p>
        <input type="number" v-model="celsiusInput">
        °C
        </p>
        <button 
        v-on:click="convertToFahrenheit">
        Umrechnen
        </button> 
        <p id="resultParagraph"></p>
      </section>

      <section class="container">
        <p>
        <input type="number" v-model="fahrenheitInput">
        °F
        </p>
        <button 
        v-on:click="convertToCelsius"> 
        Umrechnen
        </button> 
        <p id="resultParagraphB"></p>
      </section>
    </div>
  </body>
</html>